* {
    box-sizing: border-box;
    font-family: slab serif;
    font-weight: 700;
}
 body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    // background: red;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../image/background.jpeg")
 }

.btn1{
    button{
    width: 100px;
    height: 60px;
    margin: 0 auto;
    }
}
.container {
    // width: 80%;
    margin: 0 auto;
    // background: white;
}
.numberlink{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 18px;
    margin-right: 10px;
}
.numberlink div:hover{
    background: #24D3DB;
    cursor: pointer;
}
.numberlink div{
    border: 1px solid #fff;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    padding: 4px;
    width: 20px;
    color: #fff;
}
.main {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    background: white;
}
.main p {
    color: #A4A5B1;
}
.widebox div{
    display: flex;
    border: 2px solid #E6EDF7;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 10px;
    // justify-content: space-between;
    gap: 20px;
}
.widebox div:hover {
    border: 2px solid rgb(229, 162, 216);
}
.season{
    display: flex;
    flex-direction: row;
    background: #FAF8FA;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 5px;
}
.season .month{
    font-size: 16px;
    font-family: serif;
    font-weight: 700;
    // font-style: italic;
    color: #001334;
}
.season .year{
    color: #A4A5B1;
    // font-style: italic;
}
.season{
    button{
    width: 40px;
    height: 20px;
    border: 2px solid #02295A;
    border-radius: 10px;
    background: #02295A;
}
}
.nextstep{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
    background: #FAF8FA;
    width: 100%;
}
.nextstep{
    button{
    width: 100px;
    margin: 20px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: #001334;
    color: #fff;
    div{
        background: white;
        height: 20px;
    }
    }
   
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #001334;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #001334;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #001334;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.nextstep button:hover{
    background: linear-gradient(to right, green,red,yellow );
}
.nextstep p{
    margin: 20px;
    // background: #FFFFFF;
    color: #A4A5B1;
}
 @media(min-width: 500px) {
    .main {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      padding: 5%;
      gap: 50px;
      background-image: url(../image/background.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right 50%;
      color: #fff;
    }
   .numberlink{
    margin: 20px;
   }
    body {
      background: gray;
      box-sizing: border-box;
      width: 70%;
      margin: 0 auto;
    }
    .container {
      margin-top: 50px;
      padding-top: 20px;
      background: #353535;
      border: none;
      border-radius: 10px;
    }
  .main h2, p{
     letter-spacing: 1px;
     line-height: 30px;  
     
    }
    .main p {
      color: white;
      display: inline-block;
  }
  .season{
    display: flex;
    flex-direction: column;
    background: #E48518;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 5px;
    color: #02295A;
}
.year{
  color: #02295A;
}
  }
